.country {
    fill: rgba(212, 234, 254, 0.3);
    stroke: rgb(200, 200, 200);
}

.diocese {
    fill: purple;
    fill-opacity: 0.25;
    stroke: purple;
    stroke-opacity: 1;
}

.metropolitan {
    fill: red;
    fill-opacity: 0.25;
    stroke: red;
    stroke-opacity: 1;
}

.nonlatin {
    fill-opacity: 0.75;
    stroke: black;
    stroke-width: 1;
    stroke-opacity: 1;
}

.point {
    fill: orange;
    fill-opacity: 0.5;
    stroke: black;
    stroke-width: 1;
    stroke-opacity: 1;
}

rect {
    fill: gray;
}

.active {
    fill: red;
    }

.tooltip {
    background: rgba(101, 104, 109, 0.9);
    border-radius: .2rem;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    max-width: 400px;
    padding: .2rem .4rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 300;
    visibility: hidden;
    }

input[type=range] {
    width: 100%;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.instructions {
    line-height: 1.3rem;
}

/* Alignment and padding for the vis filters */
.row.menu > div {
    padding-right: 4px;
  }