@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

// Theme styles

$secondary-header-font-family: "Cormorant", serif;

// -- Global

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  text-transform: lowercase;
}

body {    
  @include breakpoint(large up) {
    font-size: 1.25 * $global-font-size;
  }
}

img {
  border: 1px solid $primary-color;
  box-shadow: 5px 5px 0 $primary-color;
  margin-bottom: .5 * $global-margin;
}

// -- Header

header {
  border-bottom: 1px solid $medium-gray;
  padding: 0 0 $global-padding;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 2 * $global-margin;
  margin-bottom: 2 * $global-margin;
  
  @include breakpoint(small down) {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

header h1 {
  text-transform: capitalize;
  min-width: 75%;
  margin-bottom: 0;
  
  @include breakpoint(small down) {
    width: 100%;
    margin: (.5 * $global-margin) 0 0;
    
  }
  
  img {
    max-width: 700px;
    height: auto;
    box-shadow: none;
    
    @include breakpoint(small down) {
      max-width: 100%;
      width: 100%;
    }
  }
}

header nav {
  font-family: $secondary-header-font-family;
  
  @include breakpoint(small down) {
    width: 100%;
  }
  
  ul {
    @include breakpoint(small down) {
      justify-content : center;
    }    
  }
}

figure {
  margin: (2 * $global-margin) 0;
}

figcaption {
  font-size: .875 * $global-font-size;
  margin-top: .5 * $global-margin;
}

// -- Footer

footer {
  margin: (2 * $global-margin) 0 $global-margin;
  padding: (2 * $global-padding) 0;
  border-top: 1px solid $medium-gray;
  
  @include breakpoint(small down) {
    margin-top: 0;
  }
}

footer .logos {
  display: flex;
  flex-wrap: wrap;
}

footer .logos img {
  width: 200px;
  height: auto;
  margin: $global-margin (2 * $global-margin) 0 0;
  box-shadow: none;
  border: 0;
  
  &.gmu-logo {
      width: 80px;
      margin-top: 0;
  }
}

// -- Home

#home-accordion {
  background-color: transparent;
  border-top: 1px solid $medium-gray;
  margin: calc(#{-2   * $global-margin} - 1px) 0;
  
  @include breakpoint(small down) {
      margin: -1px 0;
  }
}

#home-accordion a,
#home-accordion a:hover {
  text-decoration: none;
}

#home-accordion h2 {
  margin-bottom: 0;
  padding-right: 2rem;
}

#home-accordion .accordion-title {
  @extend .h2;
}

#home-accordion .accordion-title {
  margin-bottom: 0;
  padding: $global-padding;
  text-align: left;
  border: 0;
  
  &:before {
    margin-top: 0;
    transform: translateY(-50%);
  }
}

#home-accordion .accordion-title {
  border-bottom: 1px solid $medium-gray;
}

#home-accordion .accordion-content {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  border-bottom: 1px solid $medium-gray;
}

#home-accordion .is-active .accordion-content {
  display: block;

  @include breakpoint(large up) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;    
  }
}

#home-accordion .home-text {
  @include breakpoint(large up) {
    max-width: 50%;  
  }
}

#home-accordion .float-left {
  margin: (.5 * $global-margin) (2 *$global-margin) (2 * $global-margin) 0;
  
  @include breakpoint(small down) {
    margin: (.5 * $global-margin) $global-margin 0 0;
  }
}

#home-accordion .float-right {
  order: 2;
  margin: (.5 * $global-margin) 0 (2 * $global-margin) (2 * $global-margin);
  
  @include breakpoint(small down) {
    margin: (.5 * $global-margin) 0 0 $global-margin;
  }
}

#home-accordion .landscape {
  margin-bottom: 0;
  
  @include breakpoint(medium down) {
    max-width: 50%;
    height: auto;
  }
  
  @include breakpoint(small down) {
    max-width: none;
    float: none !important;
  }
}

#home-accordion .portrait {
  max-width: 50%;
  height: auto;
}

// -- Blog

.posts {
  @include breakpoint(small down) {
    margin: (-1 * $global-margin) 0;
  }
}

.post {
  margin: $global-margin 0;
  border-bottom: 1px solid $medium-gray;
  padding: $global-padding 0;
  
  &:last-child {
    border-bottom-color: transparent;
  }
  
  h2 a,
  h2 a:active {
    text-decoration: none;
  }
}

.post-meta {
  text-align: right;
  margin-top: $global-margin;
  font-family: $header-font-family;
  text-transform: lowercase;
  color: $dark-gray;
  
  @include breakpoint(small down) {
    text-align: left;
    margin: 0;
  }
}

.post-meta {
  @extend .h5;
}

.post-abstract h2 {
  margin-bottom: 0;
}

.author {
  margin-bottom: $global-margin;
  font-family: $header-font-family;
  text-transform: lowercase;
}
