<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}

  <body class="visualization">
    {{- partial "header.html" . -}}
    <div id="content" class="grid-x grid-padding-x post">
      <div class="row cell post-content">
        <h2>{{.Title}}</h2>
        <p class="abstract">{{ .Params.abstract }}</p>

        {{.Content}} 

        {{ $cssStyle := resources.Get .Params.styles | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $cssStyle.Permalink }}" integrity="{{ $cssStyle.Data.Integrity }}">

        {{ $script := resources.Get .Params.script | js.Build (dict "minify" true "target" "es2020") | resources.Fingerprint }}
        <script type="module" src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>
      </div>
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
