<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}

<body>
  {{- partial "header.html" . -}}
  <div id="content" class="grid-x grid-padding-x post">
    <div class="row cell medium-10 medium-offset-1 post-content">
      <h2>{{.Title}}</h2>
      {{with .Params.date}}
      <div class="date">{{.Format "2 Jan 2006"}}</div>
      {{end}}

      {{.Content}}

      {{ $script := resources.Get .Params.script | resources.Minify | resources.Fingerprint }}
      <script type="module" src="{{ $script.Permalink }}"></script>
      {{ $css := resources.Get .Params.css | resources.Minify | resources.Fingerprint }}
      <link rel="stylesheet" href="{{ $css.Permalink }}">
    </div>
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>
