</div><!-- end grid-container -->

<footer>
    <div class="row">
        <p><em>American Religious Ecologies</em> is generously funded in part by the <a href="https://www.neh.gov/">National Endowment for the Humanities</a> and developed by the <a href="https://rrchnm.org/">Roy Rosenzweig Center for History and New Media</a> at <a href="https://www2.gmu.edu/">George Mason University</a>.</p>
    </div>
    <div class="logos row">
        <a href="https://rrchnm.org/"><img class="rrchnm-logo" src="/img/rrchnm-logo.png" alt="Roy Rosenzweig Center for History and New Media logo"></a>
        <a href="https://www2.gmu.edu/"><img class="gmu-logo" src="/img/gmu-logo.png" alt="George Mason University logo"></a>
        <a href="https://www.neh.gov/"><img class="neh-logo" src="/img/NEH-Preferred-Seal.png" alt="National Endowment for the Humanities logo"></a>
    </div>
</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/what-input.js"></script>
<script src="/js/foundation.js"></script>
<script src="/js/app.js"></script>
