<hr>
<div class="footer medium-12">
    <div class="grid-x grid-margin-x">
        <div class="medium-2 cell">
            <img src="https://via.placeholder.com/150?text=LOGO" alt="">
        </div>
        <div class="medium-10 cell">
            <p>Footer text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, aperiam odit vero cumque dolor velit reprehenderit sit quia iure suscipit mollitia numquam, perferendis alias voluptatibus maiores officiis quibusdam voluptate repellendus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla totam fugiat, sint error quidem minima esse sunt aspernatur laudantium soluta perferendis veritatis velit adipisci dignissimos ducimus a blanditiis unde. Quos.</p>
        </div>
    </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/what-input.js"></script>
<script src="/js/foundation.js"></script>
<script src="/js/app.js"></script>