<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta
    name="description"
    content="This American religious history project created by RRCHNM documents and maps religious ecologies using the U.S. Census of Religious Bodies from 1926."
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{ if .IsHome }}
  <title>{{ .Site.Title }}</title>
  {{ else }}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ end}}
  <link
    href="https://fonts.googleapis.com/css?family=Cormorant+SC:600%7CCormorant:700%7CQuattrocento+Sans&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/app.css" />
  <link rel="alternate" type="application/rss+xml" href="/blog/index.xml" />
  {{- partial "twitter-card.html" . -}} 
  {{- partial "analytics.html" . -}}
</head>
