  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="This project documents and maps religious ecologies throughout the country using the U.S. Census of Religious Bodies from 1926. An American religious history project at RRCHNM, funded in part by the NEH."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>American Religious Ecologies</title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC:600|Cormorant:700|Quattrocento+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/app.css">
  </head>