<div class="toc">
    <details {{if (.Param "TocOpen") }} open{{ end }}>
        <summary accesskey="c" title="(Alt + C)">
            <div class="details">{{- i18n "toc" | default "Table of Contents" }}</div>
        </summary>
        <div class="inner">
            {{- $headers := findRE "<h3.*?>(.|\n])+?</h3>" .Content -}}
            {{- $has_headers := ge (len $headers) 1 -}}
            {{- if $has_headers -}}
            <ul>
                {{/* Loop through the headers and create a list links. This only displays h2 level headers. */}}
                {{- range $i, $header := $headers -}}
                {{- $id := index (findRE "(id=\"(.*?)\")" $header 9) 0 }}
                {{- $cleanedID := replace (replace $id "id=\"" "") "\"" "" }}
                {{- $header := replaceRE "<h3.*?>((.|\n])+?)</h3>" "$1" $header -}}
                <li>
                    <a href="#{{- $cleanedID  -}}" aria-label="{{- $header | plainify -}}">{{- $header | safeHTML -}}</a>
                </li>
                {{- end -}}
            </ul>
            {{- end }}
        </div>
    </details>
</div>