.country {
    fill: rgba(204, 230, 255, 0.4);
    stroke: lightgray;
    stroke-width: 1;
}

.diocese {
    fill: purple;
    fill-opacity: 0.25;
    stroke: purple;
    stroke-width: 1;
    stroke-opacity: 1;
}

.metropolitan {
    fill: red;
    fill-opacity: 0.25;
    stroke: red;
    stroke-width: 1;
    stroke-opacity: 1;
}

.nonlatin {
    fill-opacity: 0.75;
    stroke: black;
    stroke-width: 1;
    stroke-opacity: 1;
}

rect {
    fill: gray;
}

.active {
    fill: red;
    }
